.sidebar {
  position: fixed;
  left: 15px;
  top: 200px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
  height: 400px;
  padding-top: 70px;

  box-shadow: 0 10px 18px -1px rgba(22, 14, 14, 0.1), 0 4px 6px -2px rgba(153, 4, 4, 0.05);
}

.menuList {
  list-style-type: none;
  padding:0;
}


.menuLink {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
}




.menuLink:hover {
  background-color: #444;
  color: #ddd;
}

.menuLink svg {
  transition: color 0.3s ease;
}

.menuLink:hover svg {
  color: #dc3545; 
    transition: color 0.3s ease;
}
.toggle {
  position: absolute;
  top: 4px; 
  right: 8px; 
  width: 50px; 
  height: 50px; 
  display: flex;           
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 300ms ease-in-out;
   background: transparent;   
  border: none;
    color:  #dc3545; ; 
}

.toggle:hover {
  color: #ddd;
  transition: color 0.3s ease;
}

/* Когда sidebar имеет класс .collapsed */
.sidebar.collapsed .menuLink  {
  padding-left: 8px;   
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.sidebar.collapsed .menuLink:hover {
  background: transparent !important;
} 

.hiddenText {
  display: none;
}
